.mainABOUT {
    background-color: #14343d;
  }
  
  .About {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 30px;
  }
  
  .infodiv {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .info p {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 16px;
  }
  
  .info li {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 20px;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 8%;
  }

  .icon2 {
    width: 5vw;
    height: 5vh;
    float: right;
  }
  
  .arrows {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }


/* Desktop */
@media only screen and (min-width: 1000px) {
    
}


/* Tablet or iPad Air */
@media only screen and (min-width: 600px) and (max-width: 999px ) {
    
}

/* Mobile or iPhone XR */
@media only screen and (max-width: 599px ) {
    
}