.main {
    background-image: url('../public/background-images/backgroundMountain.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .nav {
    padding: 4%;
  }

  .icon1 {
    width: 5vw;
    height: 5vh;
    float: left;
  }
  
  .icon2 {
    width: 5vw;
    height: 5vh;
    float: right;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    padding: 5%;
  }
  
  .header h1 {
    font-size: 50px;
  }

  .middle2 {
    justify-content: center;
    align-items: center;
    border: 3px solid white;
  }
  
  .middle2 p {
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
    font-size: 20px;
  }
  
  .inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid gray;
  }
  
  .inputs thead {
    color: aqua;
    display: flex;
    flex-direction: row;
    padding: 5%;
    border: none;
  }
  
  .inputs fieldset {
    border: none;
  }
  
  .inputs input {
    width: 13rem;
    background-color: white;
    border: none;
  }

  .butt {
    border: 3px solid white;
    border-radius: 8%;
    background-color: transparent;
    width: 10vw;
    height: 2.5vh;
    max-width: 15vw;
    max-height: 5vh;
    font-size: 1.25vh;
  }
  
  .butt:hover {
    background-color: white;
    color: black;
  }

  .icon3 {
    width: 5vw;
    height: 5vh;
    float: right;
  }
  
  .bottom {
    position: absolute;
    bottom: 10rem;
    right: 5rem;
  }

/* Desktop */
@media only screen and (min-width: 1000px) {
    
}


/* Tablet or iPad Air */
@media only screen and (min-width: 600px) and (max-width: 999px ) {
    
}

/* Mobile or iPhone XR */
@media only screen and (max-width: 599px ) {
    
}