.carouselImage {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.main {
  background-image: url('./background-images/backgroundMountainUpsideDown.jpg');
  background-size: cover;
}
