.carouselImage {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
.main {
  background-image: url('../public/background-images/backgroundMountain.jpg');
  background-size: cover;
  height: 100vh;
}

.intro {

}

.buttons {

}

.hr {
 
}

.icon1 {
  width: 5vw;
  height: 5vh;
  float: left;
}
.icon2 {
  width: 5vw;
  height: 5vh;
  float: right;
}
.icon3 {
  width: 5vw;
  height: 5vh;
  float: right;
  padding-bottom: 30%;
}

.nav {
  padding: 4%;
}