.x {

}

.butt {
    background-color: transparent;
    border: none;
}

.menubutton {
    border: 3px solid white;
    position: relative;
}

.menu {
    position: absolute;
    top: 40px;
}

.menu h3 {
    font-size: 22px;
}

.background {
    position: absolute;
}